<?xml version="1.0" encoding="ISO-8859-1"?>
<!--  This is the data for a electronic menu  -->
<!--Zifei: delete the euro symbol to avoid encodage problem-->
<menu>
  <entree>
    <nom>salade</nom>
    <ingredient>legumes,vinaigre,sel</ingredient>
    <description>Best salade ever!!!</description>
    <prix>8</prix>
    <calorie>130</calorie>
    <etoile>4</etoile>
  </entree>
  
  
  <plat>
    <nom>Boeuf bourguignon</nom>
    <ingredient>Boeuf,vin,tomates</ingredient>
    <description>la cuisine traditionnelle bourguignonne</description>
    <prix>15</prix>
    <calorie>250</calorie>
    <etoile>5</etoile>
  </plat>
  
  <plat>
    <nom>Confit de canard</nom>
    <ingredient>canard</ingredient>
    <description>confit de canard</description>
    <prix>15</prix>
    <calorie>250</calorie>
    <etoile>5</etoile>
  </plat>
  
  <dessert>
    <nom>mouse au chocolat</nom>
    <ingredient>chocolat</ingredient>
    <description>onctueuse et parfumée</description>
    <prix>6</prix>
    <calorie>300</calorie>
    <etoile>4</etoile>
  </dessert>
  
  
  <boisson>
    <nom>vin rouge</nom>
    <prix>20</prix>
    <description>Villageoise de qualite</description>
    <etoile>5</etoile>
    <taille>25,50,100</taille>
    <alcool>4</alcool>
  </boisson>
  <boisson>
    <nom>vin blanc</nom>
    <prix>19</prix>
    <description>Villageoise classique</description>
    <etoile>4</etoile>
    <taille>25,50,100</taille>
    <alcool>3</alcool>
  </boisson>
  <boisson>
    <nom>biere</nom>
    <prix>10</prix>
    <description>Delirium ou leffe</description>
    <etoile>4</etoile>
    <taille>25, 50</taille>
    <alcool>3</alcool>
  </boisson>
  <boisson>
    <nom>jus d'orange</nom>
    <prix>10</prix>
    <description>En canette</description>
    <etoile>3</etoile>
    <taille>33</taille>
    <alcool>0</alcool>
  </boisson>
  
  <plat_du_jour>
    <prix>20</prix>
    <entree_>Garbure</entree_>
    <plat_>Confit de canard</plat_>
    <dessert_>glace à la vanille</dessert_>
    <vin_>vin rouge</vin_>
  </plat_du_jour>
  
</menu>
